@using LibraryProject.Models.Entities
@model Member
@{
    ViewData["Title"] = "UpdateMember";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<h2>Üye Güncelle</h2>
<br />
<form method="post">
    <input type="hidden" name="MemberId" value="@Model.MemberId" />
    <div class="row">
        <div class="col-md-5">
            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Kimlik No</label>
                <input type="text" name="IdentityNo" class="form-control" value="@Model.IdentityNo" />
            </div>
            <br />
            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Adı</label>
                <input type="text" name="MemberName" class="form-control" value="@Model.MemberName" />
            </div>
            <br />
            <div class="md-3">
                <label style="padding-bottom:3px;font-weight:600">Soyadı</label>
                <input type="text" name="MemberSurname" class="form-control" value="@Model.MemberSurname" />
            </div>
            <br />
            <div class="md-3">
                <div class="md-3">
                    Erkek @Html.RadioButtonFor(x => x.Gender, "Erkek")
                    Kadın @Html.RadioButtonFor(x => x.Gender, "Kadın")
                </div>
            </div>
            <br />
            <div class="md-3">
                <label style="padding-bottom:3px">Telefon No</label>
                <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
            </div>
            <br />
            <div class="md-3">
                <label style="padding-bottom:3px">Eposta</label>
                <input type="text" name="Email" class="form-control" value="@Model.Email" />
            </div>
            <br />
            <button class="btn btn-success">Güncelle</button>
        </div>
    </div>
</form>
