@using LibraryProject.Models.Entities
@model List<BorrowedBook>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}
<h3 class="pb-2">Tüm İşlemler</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>İşlem Id</th>
            <th>Kitap Adı</th>
            <th>Üye</th>
            <th>Veriliş Tarihi</th>
            <th>Tahmini Teslim Tarihi</th>
            <th>Teslim Tarihi</th>
            <th>İşlem Durum</th>
            <th>İade Al</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @if (item.BorrowStatus == false)
            {
                <tr>
                    <td>@item.BorrowId</td>
                    <td>@item.Book.BookTitle</td>
                    <td>@item.Member.MemberName @item.Member.MemberSurname</td>
                    <td>@item.BorrowDate.ToString("g")</td>

                    <td>@item.BorrowDate.AddDays(+14).ToString("d")</td>
                    <td>----------</td>
                    @if (item.BorrowStatus)
                    {
                        <td><font color="green">@item.BorrowStatus</font></td>
                    }
                    else
                    {
                        <td><font color="red">@item.BorrowStatus</font></td>
                    }
                    <td><a href="/BorrowedBook/ReturnBook/@item.BorrowId" class="btn btn-danger">İade Et</a></td>
                </tr>
            }

        }

        @foreach (var item in Model)
        {
            @if (item.BorrowStatus)
            {
                <tr>
                    <td>@item.BorrowId</td>
                    <td>@item.Book.BookTitle</td>
                    <td>@item.Member.MemberName @item.Member.MemberSurname</td>
                    <td>@item.BorrowDate.ToString("g")</td>
                    <td>@item.ReturnDate?.ToString("g")</td>

                    @if (item.BorrowStatus)
                    {
                        <td><font color="green">@item.BorrowStatus</font></td>
                    }
                    else
                    {
                        <td><font color="red">@item.BorrowStatus</font></td>
                    }
                    <td><font color="green">İade Edildi</font></td>
                </tr>
            }

        }

    </tbody>
</table>
<br />
<td><a href="/BorrowedBook/BorrowBook/" class="btn btn-primary">Kitap Ödünç Ver</a></td>
