@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<LibraryProject.Models.Entities.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<h3 class="pb-2">Kitap Listesi</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kitap No</th>
            <th>Kitap Resmi</th>
            <th>Kitap Adı</th>
            <th>Tür</th>
            <th>Yazar</th>
            <th>Durum</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookId</td>
                <td><img src="~/img/@item.BookImage" width="80" /></td>
                <td>@item.BookTitle</td>
                <td>@item.Genre.GenreName</td>
                <td>@item.Author.AuthorName @item.Author.AuthorSurname</td>
                @if (item.BookStatus == true)
                {
                    <td><font color="green">@item.BookStatus</font></td>
                }
                else
                {
                    <td><font color="red">@item.BookStatus</font></td>
                }
                <td><a href="/Book/RemoveBook/@item.BookId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Book/UpdateBook/@item.BookId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})
<br />
<a href="/Book/AddBook/" class="btn btn-primary">Yeni Kitap Ekle</a>

